@import "tailwindcss";

:root {
  --cor-primaria:    #1a1a2e;
  --cor-secundaria:  #e94560;
  --cor-fundo:       #0f0f1a;
  --cor-superficie:  #16213e;
  --cor-texto:       #eaeaea;
  --cor-texto-suave: #a0a0b0;
  --cor-borda:       #2a2a4a;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
}